<div class="modal-header">
	<h3 class="modal-title">Nova categoria</h3>
</div>
<div class="modal-body category-modal">
	<div class="row">
		<div class="col-md-2">Tipo:</div>
		<div class="col-md-10">
			<ui-select ng-model="category.type" ng-disabled="disabled">
				<ui-select-match placeholder="Selectione o tipo">{{$select.selected.type}}</ui-select-match>
				<ui-select-choices repeat="category.type as category in categories | filter: $select.search">
						{{category.type}}
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">Grupo:</div>
		<div class="col-md-10">
			<ui-select ng-model="category.group" ng-disabled="disabled">
				<ui-select-match placeholder="Selectione o grupo">{{$select.selected.group}}</ui-select-match>
				<ui-select-choices repeat="category.group as category in categories | filter: $select.search">
					{{category.group}}
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">Nome:</div>
		<div class="col-md-10">
			<input type="text" ng-model="category.name" class="form-control">
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
	<button class="btn btn-primary" ng-click="saveCategory()">Salvar</button>
</div>