<div id="category-modal">
	<div class="modal-header">
		<h3 class="modal-title">Responder comentário</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
				<div>Autor: {{commentModalCtrl.commentToReply.author}}</div>
				<textarea class="form-control" rows="3" disabled>{{commentModalCtrl.commentToReply.content}}</textarea>
				<text-angular ng-model="commentModalCtrl.commentToReply.answer"></text-angular>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="commentModalCtrl.cancel()">Cancelar</button>
		<button id="reply-comment-btn" class="btn btn-primary" ng-click="commentModalCtrl.saveReply()">Responder</button>
	</div>
</div>