<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			<i class="fa fa-file-text-o"></i>Nova Receita</h3>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html">Home</a>
			</li>
			<li>
				<i class="icon_document_alt"></i>Cadastro</li>
			<li>
				<i class="fa fa-file-text-o"></i>Receita</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-9">
		<input id="post-title-input" type="text" ng-model="postCtrl.post.title" class="form-control" placeholder="Adicione o titulo aqui"></input>
		<div>
			<text-angular ng-model="postCtrl.post.content"></text-angular>
		</div>
	</div>
	<div class="col-lg-3">
		<accordion close-others="true">
			<accordion-group heading="Categoria" is-open="true" is-disabled="false">
				<select id="category-type-select" name="type" class="form-control" ng-model="postCtrl.post.category.id" ng-options="category.id as category.name for category in postCtrl.categories | filter : {type:'POST'}">
					<option value="">Selecione a categoria</option>
				</select>
			</accordion-group>
			<accordion-group heading="Tags">
				<tags-input ng-model="postCtrl.post.tags" display-property="name"></tags-input>
			</accordion-group>
			<accordion-group heading="Ingredientes">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Action</a>
							</li>
							<li>
								<a href="#">Another action</a>
							</li>
							<li>
								<a href="#">Something else here</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#">Separated link</a>
							</li>
						</ul>
					</div>
					<!-- /btn-group -->
					<input type="text" class="form-control" aria-label="...">
				</div>
				<!-- /input-group -->
				<br></br>
				<button id="preview-post-btn" class="btn btn-primary" ng-click="postCtrl.preview()">Adicionar</button>
			</accordion-group>
		</accordion>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<button id="publish-post-btn" class="btn btn-primary" ng-click="postCtrl.publish()">Publicar</button>
		<button id="save-post-as-draft-btn" class="btn btn-primary" ng-click="postCtrl.saveAsDraft()">Salvar como rascunho</button>
	</div>
	<div class="col-lg-1">
		<button id="preview-post-btn" class="btn btn-primary" ng-click="postCtrl.preview()">Preview</button>
	</div>
</div>