<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			<i class="fa fa-file-text-o"></i>Nova Receita</h3>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html">Home</a>
			</li>
			<li>
				<i class="icon_document_alt"></i>Cadastro</li>
			<li>
				<i class="fa fa-file-text-o"></i>Receita</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-9">
		<accordion close-others="true">
			<accordion-group heading="Conteúdo" is-open="true" is-disabled="false">
				<input id="recipe-title-input" type="text" ng-model="recipeCtrl.recipe.title" class="form-control" placeholder="Adicione o titulo aqui"></input>
				<div>
					<text-angular ng-model="recipeCtrl.recipe.content"></text-angular>
				</div>
			</accordion-group>
			<accordion-group heading="Passos e Ingredientes" is-open="true" is-disabled="false">
				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">
							<input on-enter="recipeCtrl.addIngredient(recipeIngredient)" type="text" class="form-control" placeholder="Insira o ingrediente"
							ng-model="recipeIngredient">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="recipeCtrl.addIngredient(recipeIngredient)">Adicionar</button>
							</span>
						</div>
						<div class="draggable-list">
							<ul dnd-list="recipeCtrl.recipe.ingredients" class="list-group">
								<a ng-repeat="ingredient in recipeCtrl.recipe.ingredients" dnd-draggable="ingredient" dnd-moved="recipeCtrl.recipe.ingredients.splice($index, 1)"
								dnd-effect-allowed="move" class="list-group-item draggable-item">
								   {{ingredient.description}}  
								   <span class="badge" ng-click="recipeCtrl.removeIngredient($index)">X</span>
								 </a>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-group">
							<input on-enter="recipeCtrl.addStep(recipeStep)" type="text" class="form-control" placeholder="Insira o passo" ng-model="recipeStep">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="recipeCtrl.addStep(recipeStep)">Adicionar</button>
							</span>
						</div>
						<div class="draggable-list">
							<ul dnd-list="recipeCtrl.recipe.steps" class="list-group">
								<a ng-repeat="step in recipeCtrl.recipe.steps" dnd-draggable="step" dnd-moved="recipeCtrl.recipe.steps.splice($index, 1)"
								dnd-effect-allowed="move" class="list-group-item draggable-item">
								  {{step.description}}
								  <span class="badge" ng-click="recipeCtrl.removeStep($index)">X</span>
								</a>
							</ul>
						</div>
					</div>
				</div>
			</accordion-group>
		</accordion>
	</div>
	<div class="col-lg-3">
		<accordion close-others="true">
			<accordion-group heading="Categoria" is-open="true" is-disabled="false">
				<select id="category-type-select" name="type" class="form-control" ng-model="recipeCtrl.recipe.category.id" ng-options="category.id as category.name for category in recipeCtrl.categories | filter : {type:'RECIPE'}">
					<option value="">Selecione a categoria</option>
				</select>
			</accordion-group>
			<accordion-group heading="Tags">
				<tags-input ng-model="recipeCtrl.recipe.tags" display-property="name"></tags-input>
			</accordion-group>
			<accordion-group heading="Informações Adicionais">
				Tempo de preparo:
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Tempo de preparo" aria-describedby="basic-addon2" ng-model="recipeCtrl.recipe.cookTime">
					<span class="input-group-addon" id="basic-addon2">minutos</span>
				</div>
				Porções:
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Quantidade de porções" aria-describedby="basic-addon2" ng-model="recipeCtrl.recipe.servings">
					<span class="input-group-addon" id="basic-addon2">porções</span>
				</div>
				
			</accordion-group>
		</accordion>
	</div>
</div>
<div class="row footer-btn-group">
	<div class="col-lg-8">
		<button id="publish-recipe-btn" class="btn btn-primary" ng-click="recipeCtrl.publish()">Publicar</button>
		<button id="save-recipe-as-draft-btn" class="btn btn-primary" ng-click="recipeCtrl.saveAsDraft()">Salvar como rascunho</button>
	</div>
	<div class="col-lg-1">
		<button id="preview-recipe-btn" class="btn btn-primary" ng-click="recipeCtrl.preview()">Preview</button>
	</div>
</div>