<!--<h1 class="heading -large">Welcome to JavaPress Admin</h1>-->
<!-- container section start -->
<section id="container" class="">
	<!--header start-->
	<header app-header class="header dark-bg"></header>
	<!--header end-->
	<!--sidebar start-->
	<aside>
		<div id="sidebar" class="nav-collapse ">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu">
				<li>
					<a class="" ui-sref="app.category">
                              <i class="icon_ribbon_alt"></i>
                              <span>Categoria</span>
                            </a>
				</li>
				<li>
					<a class="" ui-sref="app.post">
                              <i class="icon_document_alt"></i>
                              <span>Posts</span>
                            </a>
				</li>
				<li>
					<a class="" ui-sref="app.recipe">
                              <i class="icon_pencil-edit_alt"></i>
                              <span>Receitas</span>
                            </a>
				</li>
				<li>
					<a class="" ui-sref="app.comments">
                              <i class="icon_quotations_alt2"></i>
                              <span>Comentários</span>
                            </a>
				</li>
			</ul>
			<!-- sidebar menu end-->
		</div>
	</aside>
	<!--sidebar end-->
	<!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<!-- page start-->
			<div ui-view></div>
			<!-- page end-->
		</section>
	</section>
	<!--main content end-->
</section>
<!-- container section end -->